/winfstest/Debug
/TestSuite/winfstest.exe
/TestSuite/winfstest.ilk
/TestSuite/winfstest.pdb
/winfstest.VC.opendb
/TestSuite/*.pyc
/.vs/winfstest/v14/.suo
/winfstest.sdf
/winfstest/x64/Debug
/winfstest/x64/Release
/winfstest/Release
/winfstest/*.obj
/winfstest/*.exe
